@import "_minix.scss";
@import "common.scss";
.wrap,
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header h2 {
    font-size: pxTorem(14px);
    font-weight: bold;
    padding: pxTorem(10px);
}

.inp {
    width: 94%;
    height: pxTorem(35px);
    background: #F0F1F2;
    border-radius: pxTorem(6px);
    margin-left: 3%;
    @include box_flex;
    @include align(center);
    i.icon {
        padding: 0 10px;
        font-size: pxTorem(13px);
        color: #C9CACA;
    }
}

section {
    width: 100;
    @include flex;
    overflow-y: auto;
    .con {
        @include box_flex;
        @include flexWrap(wrap);
        dl {
            width: 20%;
            text-align: center;
            margin-top: pxTorem(13px);
            dt {
                width: 100%;
                height: auto;
                img {
                    width: 60%;
                    border-radius: 50%;
                }
            }
        }
    }
}

.banner,
.swiper-wrapper,
.swiper-slide {
    width: 100%;
}

.diansmall {
    position: absolute;
    bottom: pxTorem(-100px);
    left: 0;
}

footer {
    width: 100%;
    height: pxTorem(50px);
    background: #fff;
    border-top: 2px solid #ccc;
    @include box_flex;
    @include justify(space-around);
    @include align;
    i.icon {
        font-size: pxTorem(25px);
        color: #ADADAD;
    }
    dl {
        dd {
            color: #ADADAD;
        }
    }
}

.active {
    color: #000;
}

.con_bot {
    width: 100%;
    overflow: hidden;
    .bot_list {
        width: 200%;
        @include box_flex;
        dl {
            width: 50%;
            margin: pxTorem(20px) pxTorem(10px);
            dt {
                width: 100%;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}